@charset "UTF-8";
/*
 * Импортируем Шрифт
 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
}

/*
 * Обнуление стилей
 */
::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #1d92cf;
  color: #fff;
}

::selection {
  background-color: #1d92cf;
  color: #fff;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:not([class]) {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #1d92cf;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

p {
  margin-bottom: 15px;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
 * Сайт. Основные стили
 */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
}

body {
  font-family: Roboto, sans-serif;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  color: #333;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.__container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.humburger {
  position: fixed;
  z-index: 101;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: left;
}

.humburger > span {
  left: 0px;
}

.humburger span:first-child {
  top: 0px;
}

.humburger span:nth-child(2) {
  top: 10px;
}

.humburger span:nth-child(2):before {
  content: "";
  opacity: 0;
}

.humburger span:nth-child(3) {
  top: 20px;
}

.humburger span,
.humburger span:before,
.humburger span:after {
  background: #9299a2;
  position: absolute;
  height: 5px;
  width: 50px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.humburger__active span:first-child {
  top: 10px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.humburger__active span:nth-child(2) {
  top: 10px;
  left: 40px;
  width: 22px;
}

.humburger__active span:nth-child(2):before {
  content: "";
  opacity: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none;
  border-bottom: 5px solid #9299a2;
  border-left: 5px solid #9299a2;
  border-radius: 0px;
  height: 19.8px;
  width: 19.8px;
  top: -8px;
}

.humburger__active span:nth-child(3) {
  top: 10px;
  left: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

header {
  background: #f1f1f1;
  color: #333333;
  font-weight: 500;
  font-size: calc(21px + 9 * ((100vw - 320px) / 820));
  text-transform: uppercase;
  padding: 40px 0;
  text-align: center;
}

main {
  padding: 15px 0;
  font-size: 30px;
  color: #333333;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

footer {
  background: #595959;
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
}

@media (min-width: 1140px) {
  header {
    font-size: 30px;
  }
}
