@charset "UTF-8";
/*
 * Импортируем Шрифт
 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
}

/*
 * Обнуление стилей
 */
::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #1d92cf;
  color: #fff;
}

::selection {
  background-color: #1d92cf;
  color: #fff;
}

input, textarea {
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid, textarea:required:valid {
  border-color: green;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:not([class]) {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #1d92cf;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

p {
  margin-bottom: 15px;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
 * Сайт. Основные стили
 */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  color: #333;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.__container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}
