// Пользовательские переменные
$accent: #1d92cf // Акцентный цвет
$fontsize: 14px // Размер шрифта
$textcolor: #333 // Цвет текста
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // Семейство системных шрифтов
$roboto: Roboto, sans-serif // Семейство шрифтов Roboto

$maxWidth: 1140 // Ширина макета
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// Импортируем Библеотеку
// @import 'node_modules/bootstrap/scss/functions';
// @import 'node_modules/bootstrap/scss/variables';
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin

/* 
 * Импортируем Шрифт
 */
@mixin font($fname, $fstyle, $fweight, $furl)
  @font-face
    font-family: $fname
    font-style: $fstyle
    font-weight: $fweight
    // font-display: swap // Раскомментируйте для начального отображения системных шрифтов
    src: local($fname), url($furl) format('woff2')

@include font('Roboto', normal, 400, '../fonts/Roboto-Regular.woff2')
@include font('Roboto', italic, 400, '../fonts/Roboto-Italic.woff2')
@include font('Roboto', normal, 700, '../fonts/Roboto-Bold.woff2')
@include font('Roboto', italic, 700, '../fonts/Roboto-BoldItalic.woff2')

/*
 * Обнуление стилей
 */
::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

input, textarea
  outline: none
  &:focus:required:invalid
    box-shadow: 0 0 4px 2px rgba(191, 118, 118, 0.4)
  &:required:valid
    box-shadow: 0 0 4px 2px rgba(0, 128, 0, 0.4)

*
  padding: 0px
  margin: 0px
  border: 0px
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

\:focus, :active
  outline: none

a:not([class])
  text-decoration: underline

a
  text-decoration: none
  color: $accent
  &:hover
    text-decoration: none
  &:focus, &:active
    outline: none

p
  margin-bottom: 15px

ul li
	list-style: none

img
	vertical-align: top

h1, h2, h3, h4, h5, h6
	font-weight: inherit
	font-size: inherit

/*
 * Сайт. Основные стили
 */
html, body
  height: 100%
  width: 100%
  font-size: 100%
  font-size: $fontsize

body
  font-family: $roboto
  min-width: 320px
  position: relative
  line-height: 20px
  overflow-x: hidden
  color: $textcolor
  background: #f8f8f8
  scroll-behavior: smooth
  text-rendering: optimizeSpeed

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.container
  max-width: $maxWidth + px
  padding:
    right: $gutter/2
    left: $gutter/2
  margin:
    left: auto
    right: auto

