// Экстрамалые девайсы («портретные телефоны», < 576px)
// @include media-breakpoint-down(xs)

// Малые девайсы («ландшафтные», >= 575px)
// @include media-breakpoint-down(sm)

// Средние девайсы («таблетки», >= 768px)
// @include media-breakpoint-down(md)

// Большие девайсы (большие десктопы, >= 1200px)
// @include media-breakpoint-down(lg)



// Адаптивный шрифт
@mixin font($max, $min)
  $size: $max - $min
  $width: $maxWidth - 320
  font-size: calc(#{$min + px} + #{$size} * ((100vw - 320px) / #{$width}))
  @media(min-width: $maxWidth + px)
    font-size: $max + px
// Пример
// @include font(40, 24)


