@import config
@import mixin

// Пользовательские стили

header
  background: #f1f1f1
  color: #333333
  font-weight: 500
  // font-size: 30px
  @include font(30, 21)
  text-transform: uppercase
  padding: 40px 0
  text-align: center

main
  padding: 15px 0
  font-size: 30px
  color: #333333
  flex: 1 1 auto
  text-align: center

footer
  background: #595959
  color: #ffffff
  padding: 15px 0
  text-align: center